<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilovesshan.mapper.AuthMapper">
    <insert id="insert" parameterType="ydlUserLogin" useGeneratedKeys="true" keyProperty="loginId" keyColumn="login_id">
        INSERT INTO
            `ydl`.`ydl_user_login_log` (`login_id`, `user_id`, `token`, `username`, `login_ip`, `login_time`, `login_localtion`, `browser`, `system_os`)
        VALUES
             (NULL, #{userId}, #{token}, #{username}, #{loginIp}, #{loginTime}, #{loginLocaltion}, #{browser}, #{systemOs});
    </insert>
</mapper>